<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=MAXI-4688B987D1\SQLEXPRESS;Integrated Security=True;Initial Catalog=Basedatos" providerName="System.Data.OleDb"/>
    </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
